# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Distribution / packaging
build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

# Dataset symlinks
detectron/datasets/data/*
!detectron/datasets/data/README.md

# Generated C files
detectron/utils/cython_*.c

# ADDED by suhong
deepfashion50_output/
deepfashion_output/
deepfashion_retina_out/
deeptest/
fashionshow/
fashionshow3_out/
fashionshow_out/
hwang3_out/
hwang_object/
nohup.out
